/* =======================================================
============================================================== 
General Info:
- Each page is built using a Grid containing "Navbar", "Main", "Footer"
- "Navbar" and "Footer" are styled once and are the same for all pages
- The "Main" part is styled individually for each page using nested Grids
- Each page is styled for a width smaller and larger than 800px (mobile and desktop)
==============================================================
======================================================= */

/*
==============================================================
Fonts
==============================================================
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/* @import url('https://css.gg/css'); */

/*
==============================================================
Variables
==============================================================
*/

:root {
  /* dark main color*/
  --clr-primary-1: #0d0630;
  /* lighter shade of main color */
  --clr-primary-1-light: #271291;
  /* light green/ background */
  --clr-primary-2: #cfefd8;
  /* middle green */
  --clr-primary-3: #93e5ab;
  /* dark green */
  --clr-primary-4: #8bbeb2;
  /* red */
  --clr-primary-5: #c97064;
  /* yellow */
  --clr-primary-6: #e6f9af;
  /* white */
  --clr-white: #fff;
  /* light grey */
  --clr-lightgrey: #f5f5f5;
  /* other variables */
  --ff-primary: "Sukhumvit Set", sans-serif;
  --transition: all 0.3s linear;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1920px;
}

/*
==============================================================
Global Styles
==============================================================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-primary-1);
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
==============================================================
Navbar
==============================================================
*/

.nav {
  background: var(--clr-primary-2);
  height: 3rem;
  display: grid;
  align-items: center;
}
.nav-links {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 3rem;
  justify-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
  }
.nav-links a {
  text-transform: capitalize;
  color: var(--clr-primary-1);
  font-weight: bold;
  letter-spacing: var(--spacing);
  }
.nav-links a:hover {
  color: var(--clr-primary-1-light);
  }

  @media screen and (min-width: 800px) {
    .nav-links {
      column-gap: 3rem;
      justify-self: end;
      padding-right: 3rem;
      margin: 0;
      }
  }

/*
==============================================================
Footer
==============================================================
*/

  .footer {
    height: 3rem;
    max-width: 100vw;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "privacypolicy" 
      "legaldisclosure"
      "changePreferences";
  }
  #privacypolicy {
    grid-area: privacypolicy;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  #legaldisclosure {
    grid-area: legaldisclosure;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  #changePreferences {
    grid-area: changePreferences;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .legal-links {
    transition: var(--transition);
    color: var(--clr-primary-1);
    font-weight: bold;
  }
  .legal-links:hover {
    color: var(--clr-primary-1-light);
  }
  
  @media screen and (min-width: 800px) {
    .footer {
      display: grid;
      margin-top: 0rem;
      grid-template-columns: auto auto auto;
      grid-template-rows: 1fr;
      grid-template-areas: "privacypolicy legaldisclosure changePreferences";
    }
    #privacypolicy {
      padding-bottom: 0px;
    }
    #legaldisclosure {
      padding-bottom: 0px;
    }
    #changePreferences {
      padding-bottom: 0px;
    }
  }

/* =======================================================
============================================================== 
Index Html
==============================================================
======================================================= */

.main {
  background: var(--clr-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header1"
    "logo"
    "buttons"
    "explanation";
  justify-items: center;
  min-height: calc(100vh - 6rem);
}

.header1{
  grid-area: header1;
  margin: 1rem;
}
#logo{
  grid-area: logo;
  height: 20rem;
  width: auto;
  max-width: 90vw;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--clr-primary-2);
  border-radius: var(--radius);
  margin-bottom: 0.5rem;
}
.buttons{
  grid-area: buttons;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "btn1"
  "btn2"
  "btn3"
  "btn4"
  "btn5"
  "alias";
}
.btn {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin: 0.5rem;
  letter-spacing: var(--spacing);
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  min-width: 20rem;
  padding: 0.5rem;
  outline: none;
}
.btn:hover {
  border: 2px solid var(--clr-primary-1);
}
#btn1{
  background: var(--clr-primary-5);
}
#btn2{
  background: #E4B9B4;
}
#btn4{
  background: var(--clr-primary-2);
}
#btn5{
  background: var(--clr-primary-3);
}
#alias{
  grid-area: alias;
  display: grid;
  border: 2px solid var(--clr-primary-1);
  cursor: text;
  justify-self: center;
  box-shadow: none;
}
#explanation{
  margin: 2rem;
}

@media screen and (min-width: 800px) {
  .buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "btn1 btn2 btn3 btn4 btn5"
      "alias alias alias alias alias";
  }
  .btn{
    width: None;
    min-width: 9rem;
  }
}

/* =======================================================
============================================================== 
Path Selection
==============================================================
======================================================= */


.main_pathselection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header1"
    "logo_full"
    "buttons_pathselection"
    "explanation_pathselection";
  justify-items: center;
  min-height: calc(100vh - 6rem);
}

.header1{
  grid-area: header1;
  margin: 1rem;
}
#logo_full{
  grid-area: logo_full;
  height: 10rem;
  width: auto;
  max-width: 90vw;
  padding: 0.5rem;
  border: 1px solid;
  border-color: var(--clr-primary-2);
  border-radius: var(--radius);
  margin-bottom: 0.5rem;
}
.buttons_pathselection{
  grid-area: buttons_pathselection;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "path1 path2"
  "path3 path4"
  "path5 path6"
  "path7 path8"
  "alias-submit alias-submit";
  justify-items: center;
}
#alias-submit{
  grid-area: alias-submit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "send"
  "alias";
  justify-self: center;
}
.btn_pathselection {
  border: 2px solid transparent;
  cursor: pointer;
  height: 9rem;
  width: 9rem;
  background: transparent;
  position:relative;
  outline: none;
}
.btn_pathselection:hover {
  border: 2px solid var(--clr-primary-1);
}
.btn_pathselection img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  position:absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#explanation_pathselection{
  margin: 2rem;
}

@media screen and (min-width: 800px) {
  .buttons_pathselection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "path1 path2 path3 path4"
    "path5 path6 path7 path8"
    "alias-submit alias-submit alias-submit alias-submit";
  }
  .btn_pathselection{
    width: None;
    min-width: 9rem;
  }
  #alias-submit{
    grid-area: alias-submit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "alias send";
    justify-self: center;
  }
}




/* =======================================================
============================================================== 
Highscores
==============================================================
======================================================= */

.main-highscores{
  min-height: calc(100vh - 7rem);
}
#table_highscore{
  margin: 1rem;
  table-layout: auto;
}
th{
  background-color: var(--clr-primary-2);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 0.5rem;
  min-width: 10rem;
}
.list{
  margin-left: 2rem;
}
#btn6{
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* =======================================================
============================================================== 
About Us
==============================================================
======================================================= */

.main-about{
  min-height: calc(100vh - 7rem);
}

/* =======================================================
============================================================== 
Download data
==============================================================
======================================================= */


.main-download{
  min-height: calc(100vh - 7rem);
}

/* =======================================================
============================================================== 
Legal Disclosure
==============================================================
======================================================= */

.main-legal{
  min-height: calc(100vh - 6rem);
}


/* =======================================================
============================================================== 
Data Protection Declaration
==============================================================
======================================================= */

.main-data{
  min-height: calc(100vh - 6rem);
}